<!DOCTYPE html>
<html>

<head>
    <title>Animated Icon on Map</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var route = [];

        {% for coord in coords %}
            route.push({
                'coord': [{{ coord.latitude }}, {{ coord.longitude }}],
                'loc': '{{ coord.city }} {{ coord.state }} {{ coord.country}}',
                'date': '{{ coord.date_string }}'
            });
        {% endfor %}

        // Setup the map
        const map = L.map('map').setView(route[0].coord, 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
                
        // Create a marker
        var plane_icon = L.icon({
            iconUrl: "{{ url_for('static', filename='plane.svg') }}",
            iconSize: [32, 32],
            iconAnchor: [16, 16]
        });

        var icon = L.icon({
            iconUrl: "{{ url_for('static', filename='map_icon.svg') }}",
            iconSize: [32, 32],
            iconAnchor: [16, 16]
        });

        var marker = L.marker(route[0].coord, {
            plane_icon
        }).addTo(map);

        function interpolateCoords(start, end, steps) {
            var coord = [];
            coord.push({
                'coord': start['coord'],
                'date': start['date'],
                'loc': start['loc'],
                'destination': false
            });

            for (let i = 0; i <= steps; i++) {
                var lat = start['coord'][0] + (end['coord'][0] - start['coord'][0]) * (i / steps);
                var lon = start['coord'][1] + (end['coord'][1] - start['coord'][1]) * (i / steps);
                coord.push({
                    'coord': [lat, lon],
                    'date': start['date'],
                    'loc': start['loc'],
                    'destination': false
                });
            }
            
            coord.push({
                'coord': end['coord'],
                'date': end['date'],
                'loc': end['loc'],
                'destination': true
            });

            return coord;
        }

        var path = [];
        let steps = 50;
        for (let i = 0; i < route.length - 1; i++) {
            path = path.concat(interpolateCoords(route[i], route[i+1], steps));
        }

        let index = 0;
        const speed = 30;
        
        const animation = setInterval(() => {
            if (index >= path.length) {
                clearInterval(animation);
                return;
            }

            var thisPath = path[index];
            marker.setLatLng(thisPath.coord);

            if (thisPath['destination']) {
                var point = L.marker(path[index].coord, {
                    icon
                }).addTo(map);
                
                point.bindPopup(`${thisPath['loc']}<br>${thisPath['date']}`).openPopup();
            }
            
            index++;
        }, speed);
    </script>
</body>

</html>